In [ ]:
a = 10
b = 3
print("Addition:",a+b)
print("Subtraction:",a-b)
print("multiplication:",a*b)
print("Division",a/b)
print("Floor Division",a//b)
print("modulus",a%b)
print("Exponent:",a**b)

Addition: 13
Subtraction: 7
multiplication: 30
Division 3.3333333333333335
Floor Division 3
modulus 1
Exponent: 1000

In [ ]:
x = 5
y = 8
print("x==y:",x==y)
print("x!=y:",x!=y)
print("x>y:",x>y)
print("x<y:",x<y)
print("x>=y:",x>=y)
print("x<=y:",x<=y)

x==y: False
x!=y: True
x>y: False
x<y: True
x>=y: False
x<=y: True

In [ ]:
p=True
q=False
print("p and q:",p and q)
print("p or q:",p or q)
print("not p:",not p)

p and q: False
p or q: True
not p: False

In [ ]:
m=5
n=3
print("m & n:",m & n)
print("m|n:",m|n)
print("m^n:",m^n)
print("~m:",~m)
print("m<<1:",m<<1)
print("m>>1:",m>>1)

m & n: 1
m|n: 7
m^n: 6
~m: -6
m<<1: 10
m>>1: 2

In [ ]:
num=10
num+=5
print("After+=:",num)
num-=3
print("After-=:",num)
num*=2
print("After*=:",num)
num/=4
print("After/=:",num)

After+=: 15
After-=: 12
After*=: 24
After/=: 6.0

In [ ]:
p = True
q = False
print("p and q:",p and q)
print("p or q:",p or q)
print("not p:",not p)

p and q: False
p or q: True
not p: False

In [ ]:
fruits= ["apple","banana","cherry"]
print("'banana'in fruit:","banana"in fruits)
print("'mango'not in fruit:","mango"not in fruits)

'banana'in fruit: True
'mango'not in fruit: True

In [ ]:
a=10
b=3
print("addition:",a+b)
print("subtraction:",a-b)
print("multiplication:",a*b)
print("division",a/b)
print("floor division",a//b)
print("modulus",a%b)
print("exponent:",a**b)

addition: 13
subtraction: 7
multiplication: 30
division 3.3333333333333335
floor division 3
modulus 1
exponent: 1000

In [ ]:
x=14
y=15
print("x==y:",x==y)
print("x!=y:",x!=y)
print("x>y:",x>y)
print("x<=y:",x<=y)
print("x>=Y:",x>=y)
print("x<=y:",x<=y)

x==y: False
x!=y: True
x>y: False
x<=y: True
x>=Y: False
x<=y: True